    /* global setting to clear any predefined formatting */
    * {
        margin:0;
        padding:0;
    }
	/* link to background image for the page */
    body {
        background: url(../images/skulls.png); 
    	
    }
	/* headings control */
    h1,h2,h3,{
		font-family: 'Georgia', 'Times','Times New Roman', serif;
    }
	
	/* class that controls the copyright text in the footer */
    .copyright {
    	color:#c2c2a3;
    	text-align: center;
    	font-size: .7em;
    	margin-top:20px;
    }
	
	/* class that controls font style in the logo container */
    .logofont {
    	
    	margin-top:20px;
    	color:#ffffff;
    	text-align: center;
    }

    /* class that controls the paragraph text */
    p {
    	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    }
	/* class that controls the paragraph text in the main container*/
    p.main{
			margin-right: 5px; 
			margin-left: 5px;
			color:#666;
			line-height: 1.5;

    }
	
	/* class that removes any anchor decoration such as blue underline for hyperlinks */
	a {
	text-decoration: none;
	}
	/* class that controls images as they encounter text */
	.float-image{
		
		float: left; 
		margin-right:10px; 
		margin-bottom: 3px; 
		border:solid #cccccc 1px; 
		padding: 2px;
	}

	.social-image{
		float: left;
		padding:10px;
		width: 40px;
		height: 40px
	}

	/* main and sidebar container headings font styling 'Lisa Hagin'*/ 

	.title {
        
        color: #4aaaa5;
        
    	margin-top: 10px;
    	margin-left: 10px;
    	margin-right:10px;
    	padding-top:20px;
    	padding-bottom:20px;
    	

     }
	
	/* main header div area*/ 
	#header{
		width:100%;
		height: 100px;
		background-color: #ffffff;
		border-bottom: 2px solid #cccccc;
		
		}

	/* teal div area the .title font */ 
	#logo{
		background-color: #4aaaa5;
		height:75px;
		width:200px;
		margin-left:80px;
		float:left;
		margin-top:25px;
	}
	
	/* navigation div area for About |Portfolio | Contact */
	#links{
		border: thin;
		float:right;
		width: 300px;
		margin-top:50px;
		height: 30px;
		margin-right: 40px;
	}

	/* main div area on left side */		
	#main{
		height: 500px;
		background-color: #ffffff;
		width:650px;
		float: left;
		border-color: #dddddd;
		margin-left:80px;
		margin-top:20px;
	}
	/* copy area inside the main div */
	#mainbody{
		padding-top:20px;
		margin-right: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		border-top: 2px solid #cccccc;

		}
	/* sidebar area with social icons side */
	#sidebar{
		height:150px;
		background-color: #ffffff;
		border-color: #dddddd;
		width: 270px;
		float: right;
		margin-right:70px;
		margin-top:20px;
	}

	#sideberbody{
		
		border:solid;
		padding-top:10px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
		border-top: 2px solid #cccccc;
	}
	
	/* attempt to get the  footer to stick to the bottom */
	#sidebar::after{
		content:" ";
		display:block;
		clear:both;
	}

	/* botom footer with copyright */
	#footer{
		
		width:100%;
		position:absolute;
   		bottom:0;
		height: 55px;
		background-color: #666666;
		border-top: 6px solid #4aaaa5;
	}

	/* navigation links styling and hover control */
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
	}

	li {
    	float: left;
	}

	li a {
    	display: block;
    	color: #666;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
	}

	li a:hover:not(.active) {
    	background-color: #ddd;
	}

	li a.active {
    	color: #fff;
    	background-color: #ddd;
	}

    

	


	
	